*{
    margin: 0;
    padding: 0;
   
}
li,
a{
    list-style: none;
    text-decoration: none;
}
.first-page-header{
    max-width: 100%;
  display: flex;
}
.first-page-header  img{
    max-width: 20%;
    
   border-radius: 100%;
  
}
.dropdown{
    display: none;
}

nav ul{
    display: flex;
    text-transform: uppercase;
    width: 100%;
    margin: 1rem auto;

}

nav ul li{
    margin: 20px;
}
aside-bar{
    margin: 1rem;
    max-width: 20%;
    height: fit-content;
    margin-left: auto ;
}
button{
   
    padding: 1rem 2rem;
     margin: 5px;
}

.page1-container{
    margin-top: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    
}
.text-wrapper{
   text-align: center;
    max-width: 80%;
    margin: auto;
}
h1{
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
}
article{
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}









@media screen and (max-width:900px)  {
    .logo{
        display: none;
    }
    .user-nav{
        display: none;
    }
    .dropdown{
        display: contents;
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
    }
    .dropdown:hover .dropdown-content{
        display: block;
        
    }
    .dropdown .dropdown-content ul li:hover{
        background-color: rgb(44, 43, 43);
        color: white;
        border-radius: 5px;
        padding: 2px 5px;
    }

    .dropdown{
        position: absolute;
        left: 2rem;
        top: 2rem;
        
    }
   
        .dropdown-content {
            background-color: #f9f9f9;
            margin: 10px;
            padding: 10px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            text-transform: uppercase;
        }
        
    aside-bar{
        display: none;
    }
    .text-wrapper{
       
        text-align: center;
         max-width: 100%;
         margin: auto;
     }
.text-wrapper h1{
    font-size: 2rem;
}
.text-wrapper article{
    font-size: 1.5rem;
}
.getstarted button{
    padding: 10px 20px;
    
}
}